.spanBlock {
    margin-top: 40px;
    margin-bottom: 20px;
}

.span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0080FF;
}

.input {
}

.pen {
}