.select {
    width: 165px;
    height: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.select:focus {
    outline: none;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 2px;
}


.option:hover {
}
